:root {
    --main-bg-color: #041C32;
    --title-bg-color: #064663;
    --rss-bg-color: #064663;
    --font-color: #ECB365;
    --font-family-main: 'Montserrat', sans-serif; 
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 30% 40% 15%;

    width: 28vw;
    height: 90vh;
    min-width: 250px;

    background: var(--main-bg-color);
    border-radius: 10px;
    overflow: hidden;    
    box-sizing: border-box;

    font-family: var(--font-family-main);
    color: var(--font-color);

}

.title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 1 / -1;
    background: var(--title-bg-color);
    font-size: 0.8em;
}

.profile-picture {
    display: flex;
    grid-row: 2;
    grid-column: 2/4;
    padding: 1vw;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    grid-row: 3;
    grid-column: 1 / -1;

    justify-content: center;
    align-items: center;
    font-size: 0.85em;
}

.rrss {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
    grid-row: 4;
    grid-column: 1 / -1;
    background: var(--rss-bg-color);
}

.profile-picture img {
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
}

.description p {
    text-align: center;
    padding: 2vw;
}

.rrss a {
    text-align: center;
    padding: 2vw;
    width: 100%;
}

a img { 
    display: inline;
    max-width: 60%;
    height: auto;
}