/* color palette https://colorhunt.co/palette/041c3204293a064663ecb365 */

:root {
    --body-bg-color: #041C32;
    --main-bg-color: #04293A;
    --title-bg-color: #064663;
    --rss-bg-color: #064663;
    --font-color: #ECB365;
    --font-family-main: 'Montserrat', sans-serif; 
}

body {
    background: var(--body-bg-color);
}

section {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 30% 40% 15%;

    width: 28vw;
    height: 90vh;
    min-width: 250px;

    background: var(--main-bg-color);
    border-radius: 10px;
    overflow: hidden;    
    box-sizing: border-box;

    font-family: var(--font-family-main);
    color: var(--font-color);

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 1 / -1;
    background: var(--title-bg-color);
}

.title h1 {
    font-size: 1.15rem;
    text-align: center;
}

.profile-picture {
    display: flex;
    grid-row: 2;
    grid-column: 2/4;
    padding: 1vw;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    grid-row: 3;
    grid-column: 1 / -1;

    justify-content: center;
    align-items: center;
}

.rrss {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    grid-row: 4;
    grid-column: 1 / -1;
    background: var(--rss-bg-color);
}

.profile-picture img {
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
}

.description p {
    text-align: center;
    padding: 2vw;
    font-size: 0.9rem;
}

.rrss a {
    text-align: center;
    padding: 2vw;
    width: 100%;
}

a img { 
    display: inline;
    max-width: 60%;
    height: auto;
}


a img:hover { 
    transform: scale(1.25);
    filter: brightness(1.25);
}