/* color palette https://colorhunt.co/palette/041c3204293a064663ecb365 */

:root {
    --body-bg-color: #000011;
    --main-bg-color: #041C32;

    --project-card-bg-color: #041C32;
    --project-title-font-color: #ECB365;
    --project-description-font-color: #ECB365;
    --project-title-bg-color: #064663;
    --font-family-main: 'Montserrat', sans-serif; 
    --project-see-more-font-color: #ECB365;
}

body {
    background: var(--body-bg-color);
}

main {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2vh;
    column-gap: 2vw;

    width: 90vw;
    height: 90vh;
    min-width: 250px;
    min-height: 300px;

    overflow: hidden;    
    box-sizing: border-box;

    font-family: var(--font-family-main);
    color: var(--font-color);
}

.project-card {
    display: grid;
    align-items: center;
    text-align: center;

    border-radius: 5px;
    overflow: hidden;

    grid-template-rows: 20% 60% 20%;
    background-color: var(--project-card-bg-color);
}

.project-title {
    background-color: var(--project-title-bg-color);
}

.project-title h2 {
    color: var(--project-title-font-color);
    font-size: 0.9rem;
}

.project-description {
    color: var(--project-description-font-color);
    font-size: 0.85rem;
}

.project-see-more a {
    color: var(--project-see-more-font-color);
    font-size: 0.8rem;
}