/* color palette https://colorhunt.co/palette/041c3204293a064663ecb365 */

:root {
    --body-bg-color: #000011;
    --main-bg-color: #041C32;

    --project-card-bg-color: #041C32;
    --items-font-color: #ECB365;
    --project-description-font-color: #ECB365;
    --project-title-bg-color: #064663;
    --font-family-main: 'Inconsolata', monospace;
    --project-see-more-font-color: #ECB365;
}

body {
    background: var(--body-bg-color);
}

main {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    row-gap: 2vh;
    column-gap: 2vw;

    width: 75vw;
    height: 90vh;
    min-width: 250px;
    min-height: 300px;

    overflow: hidden;    
    box-sizing: border-box;

    font-family: var(--font-family-main);
    color: var(--font-color);
}

section div {
    display: inline-block;
    color: var(--items-font-color);
    background-color: var(--main-bg-color);
    padding: 10px;
    border-radius: 5px;
}

.hard-skills {
    grid-row: 1;
    grid-column: 1;
}

.soft-skills {
    grid-row: 1;
    grid-column: 2;
}

.skills-list {
    padding: 5px;
}

.skills-list li {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    margin-top: 3px;
}

div h1 {
    text-align: center;
    font-size: 1.5rem;
}

div h2 {
    font-size: 0.9rem;
}

.skills-list li:hover {
    filter: brightness(1.5);
}

