/* color palette https://colorhunt.co/palette/041c3204293a064663ecb365 */

:root {
    --body-bg-color: #ffffff;
    --main-bg-color: #ffffff;
    --title-bg-color: #064663;
    --rss-bg-color: #064663;
    --font-title-color: #082e40;
    --font-color: #226280;
    --font-family-main: 'Inconsolata', monospace;
    --h1-fontsize: 1.85em;
    --h2-fontsize: 1.5em;
    --text-fontsize: 1em;
}

body {
    background: var(--body-bg-color);
    font-family: var(--font-family-main);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--text-fontsize);
}

section {
    margin-top: 10px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--font-title-color);
    font-size: var(--h1-fontsize);
}

h2 {
/*    color: var(--font-title-color);*/
    font-size: var(--h2-fontsize);
}

.table-of-contents {
    margin-top: 5px;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
}

nav {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    top: 10px;
    left: 10px;
    padding: 3px;
}

.nav-items {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #101010;
    border-radius: 5px;
    padding: 2px;
}

.nav-items:hover {
    background-color: #dadada;
}

nav a {
    text-align: center;
    width: 100%;
}

a img { 
    display: inline-block;
    width: 30px;
    height: auto;
}

/*a img:hover { 
    transform: scale(1.25);
    filter: brightness(1.25);
}*/

div {

}


@media (max-width: 640px) {
    section {
        width: 95%;
    }

    img {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        width: 95%;
    }
}